{% extends 'projects/base.html' %}

{% block content %}

<section class="discussion_block">

    <div class="discussion">
        <p class="discussion_name">{{ discussion.title }}</p>
        <p class="discussion_about">{{ discussion.content }}</p>
        <div class="publicated">
            <p>
                {% if discussion.user %}<a href="{% url 'account' discussion.user.id %}" class="author_url">Автор: {{ discussion.user }}</a>
                {% else %}Удаленный пользователь{% endif %}
            </p>
            <p>Дата создания: {{ discussion.created }}</p>
        </div>

    </div>

    <form action="{% url 'discussion' discussion.id %}" method="post", class="leave_comment_form", enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Оставить комментарий</h2>
        {{ form.as_p }}
        <input type="submit" value="Опубликовать" class="sign_button"/>
    </form>

    {% if comments %}
        {% for comment in comments %}
        <div class="comment_container">
            <p class="comment_content">{{ comment.content }}</p>
            <div class="comment_publicated">
                <p>
                    {% if comment.user %}<a href="{% url 'account' comment.user.id %}" class="author_url">Пользователь: {{ comment.user }}</a>
                    {% else %}Удаленный пользователь{% endif %}
                </p>
                <p>{{ comment.created }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</section>

{% endblock %}