{% load static %}
<header class="header">
  <div class="header_container">
    <a href="{% url 'main' %}" class="header_logo">
      <img src="{% static 'images/logo.svg' %}" alt="Logo" />
    </a>
    <nav class="header_nav">
      <ul class="header_menu">
        <li class="header_menuItem"><a href="{% url 'Blog' %}">Blog</a></li>
        <li class="header_menuItem"><a href="{% url 'projects' %}">Projects</a></li>
        {% if request.user.is_authenticated %}
        <li class="header_menuItem"><a href="{% url 'account' %}">My Account</a></li>
        <li class="header_menuItem"><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li class="header_menuItem"><a href="{% url 'login' %}">Login/Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
