body {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

#main_page {
    background: #282828;
}

.header {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, rgba(11,15,25,1) 0%, rgba(11,32,75,1) 90%);
}

.header_container {
    padding: 1em 0;
    min-width: 800px;
    max-width: 1280px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.header_nav {
    box-sizing: border-box;
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.header_menu_item {
    display: flex;
    margin: 0 5px;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
}

.header_menu_item > a {
    display: flex;
    height: 30px;
    width: 100px;
    flex-grow: 1;
    padding: 5px 20px;
    text-decoration: none;
    background: #4B0082;
    border: 1px black solid;
    border-radius: 1rem;
    color: white;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
