body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    min-height: 600px;
}

#main_page {
    background: #282828;
}

footer {
    margin-top: 20px;
    padding: 0;
    vertical-align: bottom;
}

.footer_container {
    margin: 0 auto;
    height: 40px;
    max-width: 1280px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #3c3c3c;
    color: white;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.footer_container a {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
}

.footer_container img {
    height: 30px;
    weight: 30px;
}

.header {
    margin: 0;
    padding: 0;
}

.header_nav {
    margin: 20px auto;
    height: 80px;
    max-width: 1280px;
}

.nav_container {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    background: #3c3c3c;
    border-radius: 20px;
}

.logo_container {
    height: 100%;
    width: 100px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links_container {
    height: 100%;
    min-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    min-width: 900px;
    height: 40px;
    justify-content: flex-start;
}

.sign_in {
    min-width: 280px;
    justify-content: flex-end;
}

.header_logo {
    display: flex;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    font-weight: 300;
}


.header_logo img {
    margin: auto;
    height: 60px;
    width: 100%;
}

.header_menu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.header_menu_item {
    display: flex;
    padding: 0 20px;
    height: 100%;
    list-style: none;
    box-sizing: border-box;
}

.first_delimeter {
    border-left: 1px solid white;
}

.delimeter {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.account img{
    height: 40px;
    width: 40px;
}

.header_menu_item > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*
.login {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: black;
    justify-content: center;
}

.logout {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: black;
    justify-content: center;
}
*/

.main_content {
    margin: 20px auto;
    max-width: 1280px;
}

.section_container {
    display: flex;
    justify-content: space-between;
}

.section_stream {
    display: flex;
    min-width: 630px;
    height: 400px;
    border-radius: 20px;
    background: #3c3c3c;
    align-items: center;
}

.section_stream iframe {
    margin: auto;
    border-radius: 10px;
}

.section_projects {
    min-width: 630px;
    height: 400px;
    border-radius: 20px;
    background: #3c3c3c;
}

.section_projects header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.section_blog {
    margin-top: 20px;
    min-width: 1280px;
    height: 300px;
    border-radius: 20px;
    background: #3c3c3c;
}

.section_blog header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 60px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#none_projects {
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#none_projects img {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 20px 0;
}

#none_projects p {
    margin: auto 0;
    padding: 0;
    }

#none_posts {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#none_posts img {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 20px 0;
}

#none_posts p {
    margin: auto 0;
    padding: 0;
    }
