{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

<section class="section_container account_container">
    <div class="account_image">
        <img src="{{ account.avatar.url }}" alt="avatar" class="account_avatar">
        {% if request.user.id == account.id %}
        <a href="{% url 'account_settings' %}"><img src="{% static 'images/settings.svg' %}" alt="Settings" class="account_settings"></a>
        {% endif %}
    </div>
    <div class="account_data">
        <ul>
            <li>
                Страница пользователя {{ account.profile_name }}
            </li>
            <li id="ingame_account">Игровой аккаунт:
                {% if account.game_account %}
                    <a href="{{ account.game_account }}"><img src="{% static 'images/opgg.png' %}" alt="OP.GG"></a>
                {% else %}
                    Отсутствует
                {% endif %}
            </li>
            <li>
                Команда:
                {% if account.team_status != None %}
                    {{ account.team_status }}
                {% else %}
                    Отсутствует
                {% endif %}
            </li>
        </ul>
    </div>
</section>

{% endblock %}
