{% extends 'projects/base.html' %}

{% block content %}

<div class="main_content">

    <div class="section_container">
        <section class="section_stream">
            <iframe
                src="https://vkplay.live/app/embed/aresh1k"
                height="380"
                width="610"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true">
            </iframe>
        </section>

        <section class="section_projects">
            <header>
                Latest projects
            </header>
            <article>
            </article>
        </section>
    </div>

    <div class="section_container">
        <section class="section_blog">
            <article>
                <header>Latest publications</header>
                <figure>
                    <p><img src="" alt=""></p>
                    <figcaption></figcaption>
                </figure>
            </article>
        </section>
    </div>

</div>

<footer>

</footer>

{% endblock %}
