{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

<div class="main_content">

    <div class="section_container">
        <section class="section_stream">
            <iframe
                src="https://vkplay.live/app/embed/aresh1k"
                height="380"
                width="610"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true">
            </iframe>
        </section>

        <section class="section_projects">
            <header>
                Последние проекты
            </header>
            {% if projects %}
                {% for project in projects %}
                <article>
                </article>
                {% endfor %}
            {% else %}
                <div id="none_projects">
                    <img src="{% static 'images/none_projects.svg' %}" alt="No projects">
                    <p>В настоящий момент проекты не представлены</p>
                </div>
            {% endif %}
        </section>
    </div>

    <div class="section_container">
        <section class="section_blog">
            <article>
                <header>Последние публикации</header>
                {% if posts %}
                    <figure>
                        <p><img src="" alt=""></p>
                        <figcaption></figcaption>
                    </figure>
                {% else %}
                    <div id="none_posts">
                        <img src="{% static 'images/none_posts.svg' %}" alt="No publications">
                        <p>В настоящий момент публикаций нет</p>
                    </div>
                {% endif %}
            </article>
        </section>
    </div>

</div>

<footer>

</footer>

{% endblock %}
